<mat-toolbar class="px-2" *ngIf="0">
  <ng-container *ngIf="user">
    <a
      [routerLink]="'/'"
      class="align-items-center d-flex h-100 no-min-width px-2 rounded-0"
      mat-button
    >
      <gf-logo></gf-logo>
    </a>
    <span class="spacer"></span>
    <a
      class="d-none d-sm-block"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'home' || currentRoute === 'zen',
        'text-decoration-underline':
          currentRoute === 'home' || currentRoute === 'zen'
      }"
      [routerLink]="['/']"
      >Overview</a
    >
    <a
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'portfolio',
        'text-decoration-underline': currentRoute === 'portfolio'
      }"
      [routerLink]="['/portfolio']"
      >Portfolio</a
    >
    <a
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'accounts',
        'text-decoration-underline': currentRoute === 'accounts'
      }"
      [routerLink]="['/accounts']"
      >Accounts</a
    >
    <a
      *ngIf="hasPermissionToAccessAdminControl"
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'admin',
        'text-decoration-underline': currentRoute === 'admin'
      }"
      [routerLink]="['/admin']"
      >Admin Control</a
    >
    <a
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'resources',
        'text-decoration-underline': currentRoute === 'resources'
      }"
      [routerLink]="['/resources']"
      >Resources</a
    >
    <a
      *ngIf="
        hasPermissionForSubscription && user?.subscription?.type === 'Basic'
      "
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'pricing',
        'text-decoration-underline': currentRoute === 'pricing'
      }"
      [routerLink]="['/pricing']"
      >Pricing</a
    >
    <a
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'about',
        'text-decoration-underline': currentRoute === 'about'
      }"
      [routerLink]="['/about']"
      >About</a
    >
    <button
      class="no-min-width px-1"
      mat-flat-button
      [matMenuTriggerFor]="accountMenu"
      (menuClosed)="onMenuClosed()"
      (menuOpened)="onMenuOpened()"
    >
      <ion-icon
        class="d-none d-sm-block"
        name="person-circle-outline"
        size="large"
      ></ion-icon>
      <ion-icon
        class="d-block d-sm-none"
        size="large"
        [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"
      ></ion-icon>
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before">
      <ng-container *ngIf="user?.access?.length > 0">
        <button
          class="align-items-center d-flex"
          mat-menu-item
          (click)="impersonateAccount(null)"
        >
          <ion-icon
            *ngIf="user?.access?.length > 0"
            class="mr-2"
            [name]="
              impersonationId
                ? 'radio-button-off-outline'
                : 'radio-button-on-outline'
            "
          ></ion-icon>
          <span i18n>Me</span>
        </button>
        <button
          *ngFor="let accessItem of user?.access"
          class="align-items-center d-flex"
          mat-menu-item
          (click)="impersonateAccount(accessItem.id)"
        >
          <ion-icon
            class="mr-2"
            name="square-outline"
            [name]="
              accessItem.id === impersonationId
                ? 'radio-button-on-outline'
                : 'radio-button-off-outline'
            "
          ></ion-icon>
          <span *ngIf="accessItem.alias">{{ accessItem.alias }}</span>
          <span *ngIf="!accessItem.alias" i18n>User</span>
        </button>
        <hr class="m-0" />
      </ng-container>
      <a
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{
          'font-weight-bold': currentRoute === 'home' || currentRoute === 'zen'
        }"
        [routerLink]="['/']"
        >Overview</a
      >
      <a
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{
          'font-weight-bold': currentRoute === 'portfolio'
        }"
        [routerLink]="['/portfolio']"
        >Portfolio</a
      >
      <a
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{ 'font-weight-bold': currentRoute === 'accounts' }"
        [routerLink]="['/accounts']"
        >Accounts</a
      >
      <a
        class="align-items-center d-flex"
        i18n
        mat-menu-item
        [ngClass]="{ 'font-weight-bold': currentRoute === 'account' }"
        [routerLink]="['/account']"
        >My Ghostfolio</a
      >
      <a
        *ngIf="hasPermissionToAccessAdminControl"
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{ 'font-weight-bold': currentRoute === 'admin' }"
        [routerLink]="['/admin']"
        >Admin Control</a
      >
      <hr class="m-0" />
      <a
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{
          'font-weight-bold': currentRoute === 'resources'
        }"
        [routerLink]="['/resources']"
        >Resources</a
      >
      <a
        *ngIf="
          hasPermissionForSubscription && user?.subscription?.type === 'Basic'
        "
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{ 'font-weight-bold': currentRoute === 'pricing' }"
        [routerLink]="['/pricing']"
        >Pricing</a
      >
      <a
        class="d-block d-sm-none"
        i18n
        mat-menu-item
        [ngClass]="{ 'font-weight-bold': currentRoute === 'about' }"
        [routerLink]="['/about']"
        >About Ghostfolio</a
      >
      <hr class="d-block d-sm-none m-0" />
      <button mat-menu-item (click)="onSignOut()">Logout</button>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="user === null">
    <a
      class="align-items-center d-flex h-100 mx-2 no-min-width px-2 rounded-0"
      mat-button
      [routerLink]="['/']"
    >
      <gf-logo [hideName]="currentRoute === 'register'"></gf-logo>
    </a>
    <span class="spacer"></span>
    <!-- <a
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'features',
        'text-decoration-underline': currentRoute === 'features'
      }"
      [routerLink]="['/features']"
      >Features</a
    > -->
    <a
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'about',
        'text-decoration-underline': currentRoute === 'about'
      }"
      [routerLink]="['/about']"
      >About</a
    >
    <a
      *ngIf="hasPermissionForSubscription"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'pricing',
        'text-decoration-underline': currentRoute === 'pricing'
      }"
      [routerLink]="['/pricing']"
      >Pricing</a
    >
    <a
      *ngIf="hasPermissionToAccessFearAndGreedIndex"
      class="d-none d-sm-block mx-1"
      i18n
      mat-flat-button
      [ngClass]="{
        'font-weight-bold': currentRoute === 'markets',
        'text-decoration-underline': currentRoute === 'markets'
      }"
      [routerLink]="['/markets']"
      >Markets</a
    >
    <!-- <a
      class="d-none d-sm-block mx-1 no-min-width px-1"
      href="https://github.com/ghostfolio/ghostfolio"
      mat-flat-button
      ><ion-icon name="logo-github"></ion-icon
    ></a> -->
    <button class="mx-1" mat-flat-button (click)="openLoginDialog()">
      <ng-container i18n>Sign in</ng-container>
    </button>
    <a
      *ngIf="currentRoute !== 'register' && !info?.isReadOnlyMode"
      class="d-none d-sm-block"
      style="background-color: #007bff;color:white !important;"
      mat-flat-button
      [routerLink]="['/register']"
      ><ng-container i18n>Get started</ng-container>
    </a>
  </ng-container>
</mat-toolbar>

<div class="desktop-container">
  <div class="logo">
    <a href="">
      <img src="assets/logo.svg" alt="Macrosifter logo">
    </a>
  </div>

  <div class="main-menu">
    <a [href]="menu.link" *ngFor="let menu of menu" class="menu-item" i18n>{{menu.name}}</a>
  </div>

  <div class="user-menu">
    <ng-container *ngIf="!user">
      <button (click)="createAccount()" class="bordered" i18n>Sign Up</button>
      <button (click)="openLoginDialog()" class="no-border w-icon" i18n>
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33325 5.16667C9.33325 4.43133 8.73525 3.83333 7.99992 3.83333C7.26459 3.83333 6.66659 4.43133 6.66659 5.16667C6.66659 5.902 7.26459 6.5 7.99992 6.5C8.73525 6.5 9.33325 5.902 9.33325 5.16667ZM10.6666 5.16667C10.6666 6.63733 9.47059 7.83333 7.99992 7.83333C6.52925 7.83333 5.33325 6.63733 5.33325 5.16667C5.33325 3.696 6.52925 2.5 7.99992 2.5C9.47059 2.5 10.6666 3.696 10.6666 5.16667ZM3.33325 13.8333C3.33325 11.26 5.42725 9.16667 7.99992 9.16667C10.5726 9.16667 12.6666 11.26 12.6666 13.8333C12.6666 14.2013 12.3686 14.5 11.9999 14.5C11.6313 14.5 11.3333 14.2013 11.3333 13.8333C11.3333 11.9953 9.83792 10.5 7.99992 10.5C6.16192 10.5 4.66659 11.9953 4.66659 13.8333C4.66659 14.2013 4.36859 14.5 3.99992 14.5C3.63125 14.5 3.33325 14.2013 3.33325 13.8333Z" fill="#231F20"/>
          <mask id="mask0_119_4754" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="3" y="2" width="10" height="13">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33325 5.16667C9.33325 4.43133 8.73525 3.83333 7.99992 3.83333C7.26459 3.83333 6.66659 4.43133 6.66659 5.16667C6.66659 5.902 7.26459 6.5 7.99992 6.5C8.73525 6.5 9.33325 5.902 9.33325 5.16667ZM10.6666 5.16667C10.6666 6.63733 9.47059 7.83333 7.99992 7.83333C6.52925 7.83333 5.33325 6.63733 5.33325 5.16667C5.33325 3.696 6.52925 2.5 7.99992 2.5C9.47059 2.5 10.6666 3.696 10.6666 5.16667ZM3.33325 13.8333C3.33325 11.26 5.42725 9.16667 7.99992 9.16667C10.5726 9.16667 12.6666 11.26 12.6666 13.8333C12.6666 14.2013 12.3686 14.5 11.9999 14.5C11.6313 14.5 11.3333 14.2013 11.3333 13.8333C11.3333 11.9953 9.83792 10.5 7.99992 10.5C6.16192 10.5 4.66659 11.9953 4.66659 13.8333C4.66659 14.2013 4.36859 14.5 3.99992 14.5C3.63125 14.5 3.33325 14.2013 3.33325 13.8333Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_119_4754)">
            <rect y="0.5" id="person" width="16" height="16" fill="black"/>
          </g>
        </svg>
        <span>Login</span>
      </button>
    </ng-container>

    <ng-container *ngIf="user">
      <button mat-menu-item class="no-border w-icon" (click)="onSignOut()">Logout</button>
    </ng-container>
  </div>
</div>

<div class="mobile-container">
  <div class="logo">
    <a href="">
      <img src="assets/logo.svg" alt="Macrosifter logo">
    </a>
  </div>

  <button mat-flat-button (click)="showMobMenu = 'in'" *ngIf="showMobMenu === 'out'">
    <ion-icon name="menu" size="large"></ion-icon>
  </button>
  <button mat-flat-button (click)="showMobMenu = 'out'" *ngIf="showMobMenu === 'in'">
    <ion-icon name="close" size="large"></ion-icon>
  </button>
</div>

<div class="mobile-menu" [ngClass]="{'active': showMobMenu === 'in'}" [@mobHeight]="showMobMenu">

  <a [href]="menu.link" *ngFor="let menu of menu" class="mob-menu-item" i18n>{{menu.name}}</a>
  <ng-container *ngIf="user">
    <button mat-menu-item (click)="onSignOut()" class="mob-no-border">Logout</button>
  </ng-container>

  <ng-container *ngIf="!user">
    <button (click)="createAccount()" class="filled" i18n>Sign Up</button>
    <button (click)="openLoginDialog()" class="mob-no-border" i18n>
      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33325 5.16667C9.33325 4.43133 8.73525 3.83333 7.99992 3.83333C7.26459 3.83333 6.66659 4.43133 6.66659 5.16667C6.66659 5.902 7.26459 6.5 7.99992 6.5C8.73525 6.5 9.33325 5.902 9.33325 5.16667ZM10.6666 5.16667C10.6666 6.63733 9.47059 7.83333 7.99992 7.83333C6.52925 7.83333 5.33325 6.63733 5.33325 5.16667C5.33325 3.696 6.52925 2.5 7.99992 2.5C9.47059 2.5 10.6666 3.696 10.6666 5.16667ZM3.33325 13.8333C3.33325 11.26 5.42725 9.16667 7.99992 9.16667C10.5726 9.16667 12.6666 11.26 12.6666 13.8333C12.6666 14.2013 12.3686 14.5 11.9999 14.5C11.6313 14.5 11.3333 14.2013 11.3333 13.8333C11.3333 11.9953 9.83792 10.5 7.99992 10.5C6.16192 10.5 4.66659 11.9953 4.66659 13.8333C4.66659 14.2013 4.36859 14.5 3.99992 14.5C3.63125 14.5 3.33325 14.2013 3.33325 13.8333Z" fill="white"/>
        <mask id="mask0_119_4754" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="3" y="2" width="10" height="13">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33325 5.16667C9.33325 4.43133 8.73525 3.83333 7.99992 3.83333C7.26459 3.83333 6.66659 4.43133 6.66659 5.16667C6.66659 5.902 7.26459 6.5 7.99992 6.5C8.73525 6.5 9.33325 5.902 9.33325 5.16667ZM10.6666 5.16667C10.6666 6.63733 9.47059 7.83333 7.99992 7.83333C6.52925 7.83333 5.33325 6.63733 5.33325 5.16667C5.33325 3.696 6.52925 2.5 7.99992 2.5C9.47059 2.5 10.6666 3.696 10.6666 5.16667ZM3.33325 13.8333C3.33325 11.26 5.42725 9.16667 7.99992 9.16667C10.5726 9.16667 12.6666 11.26 12.6666 13.8333C12.6666 14.2013 12.3686 14.5 11.9999 14.5C11.6313 14.5 11.3333 14.2013 11.3333 13.8333C11.3333 11.9953 9.83792 10.5 7.99992 10.5C6.16192 10.5 4.66659 11.9953 4.66659 13.8333C4.66659 14.2013 4.36859 14.5 3.99992 14.5C3.63125 14.5 3.33325 14.2013 3.33325 13.8333Z" fill="transparent"/>
        </mask>
        <g mask="url(#mask0_119_4754)">
          <rect y="0.5" width="16" height="16" fill="transparent"/>
        </g>
      </svg>
      <span>Login</span>
    </button>
  </ng-container>
</div>
