<div class="topic-container" [ngClass]="data?.imagePos === 'right' ? 'flex-row' : 'flex-row-reverse'">
  <div class="info flex flex-column">
    <div class="line"></div>
    <div class="header no-margin" i18n>{{data?.topic}}</div>
    <div class="header color" i18n>{{data?.header}}</div>
    <div class="text" i18n>{{data?.text}}</div>
    <div class="btn" *ngIf="data?.buttonLink && data?.buttonText">
      <button mat-flat-button [routerLink]="data.buttonLink" i18n>{{data.buttonText}}</button>
    </div>
  </div>
  <div class="image-col">
    <img [src]="data?.image" alt="">
  </div>
</div>
