<ms-banner [data]="bannerData"></ms-banner>

<div class="ms-container">
  <div class="content">
    <img src="assets/icons/triangles_group.svg" class="image-left" alt="" *ngIf="showsideImages">
    <img src="assets/icons/triangles_group.svg" class="image-right" alt="" *ngIf="showsideImages">

    <div class="block-title" i18n>How It Works</div>

    <div class="blocks relative">
      <div class="block" *ngFor="let b of blocks">
        <div class="circle"><img [src]="b.icon" alt=""></div>
        <div class="block-text">{{b.text}}</div>
        <img [src]="'assets/icons/line.svg'" class="arrow" alt="" *ngIf="b.arrow">
      </div>
    </div>
  </div>
</div>

<div class="notes-block">
  <div class="content" *ngFor="let t of topics" >
    <ms-landing-topic-block [data]="t"></ms-landing-topic-block>
  </div>
</div>

<div class="features-block">
  <div class="block-title" i18n>Features</div>
  <div class="content">
    <div class="feature" *ngFor="let f of []">
      <div class="header">
        <div class="f-circle"><img [src]="f?.icon" alt=""></div>
        <div>{{f?.title}}</div>
      </div>
      <div class="text">{{f?.text}}</div>
    </div>
  </div>
  <div class="f-btn">
    <button mat-flat-button [routerLink]="'/register'" i18n>Try for free</button>
  </div>
</div>
