.ms-container {
  background-color: rgba(0, 163, 255, 0.08);
  margin: -70px auto 0;

  .content {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
}

.block-title {
  font-size: 2.5rem;
  font-family: Poppins-bold, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}

.image-left, .image-right {
  position: absolute;
}

.image-left {
  left: 0;
  bottom: 3rem;
}

.image-right {
  right: 0;
  top: -50px;
}

.block {
  text-align: center;
  position: relative;
}

.blocks {
  display: flex!important;
  text-align: center;
  margin: 0 auto;
  justify-content: space-between;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba(47, 112, 254, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.5rem;

  img {
    height: 50px;
    width: 50px;
  }
}

ms-landing-topic-block {
  margin-bottom: 7.5rem;
}

.features-block {
  padding: 5.5rem 0;
  background-color: rgba(0, 163, 255, 0.08);

  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .feature {
      margin-bottom: 3.5rem;

      .header {
        font-size: 1.75rem;
        font-weight: 700;
        font-family: Poppins-medium, sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.25rem;
      }

      .f-circle {
        background-color: white;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 1.25rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }

      .text {
        text-align: justify;
      }
    }
  }
}

.f-btn {
  text-align: center;

  button {
    padding: 0.5rem 3.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: Poppins-semibold, sans-serif;
    color: white;
    background-color: var(--ms-secondary);
    border-radius: 5px;
  }

  &.sub {

    margin-bottom: 8rem;

    button {
      padding: .5rem 8rem;
      font-size: 1.3rem;
    }
  }
}

// desktop
@media screen and (min-device-width: 1025px) {
  .ms-container {
    padding: 8rem 4rem 5rem;
  }

  .blocks {
    display: flex;
    flex-direction: row;
    max-width: 950px;

    .block {
      width: 30%;
    }

    .arrow {
      position: absolute;
      top: 50px;
      left: 100%;
    }
  }

  .notes-block {
    padding: 6rem 0 0;
    background-color: white;

    .content {
      max-width: 1000px;
      margin: 0 auto 7.5rem;
    }
  }

  .features-block {
    .content {
      max-width: 1000px;
      justify-content: space-between;

      .feature {
        width: 480px;
      }
    }
  }
}

// tablet
@media screen and (max-device-width: 1024px) {
  .ms-container{
    padding: 8rem 0 2rem;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    .block {
      width: 100%;
    }

    .arrow {
      transform: rotate(90deg);
      margin: 3rem 0;
    }
  }

  .notes-block {
    padding: 3rem 0 0;
    background-color: white;

    .content {
      max-width: 90%;
      margin: 0 auto 3rem;
    }
  }

  .features-block {
    .content {
      width: 90%;
      justify-content: center;

      .feature {
        width: 100%;
      }
    }
  }
}

// mobile
@media screen and (max-device-width: 560px) {
  .ms-container{
    padding: 8rem 0 2rem;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    max-width: 90%;

    .block {
      width: 100%;
    }

    .arrow {
      transform: rotate(90deg);
      margin: 3rem 0;
    }
  }

  .notes-block {
    padding: 3rem 0 0;
    background-color: white;

    .content {
      max-width: 90%;
      margin: 0 auto 3rem;
    }
  }

  .features-block {
    .content {
      width: 90%;
      justify-content: center;

      .feature {
        width: 100%;
      }
    }
  }

  .f-btn button {
    padding: 0!important;
    width: 90% !important;
  }
}
