.banner-bg {
  height: 38rem;
  background-color: #032962;
  background-image: url("../../../../assets/images/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;
  z-index: 100;
}

.banner-container {
  margin: 0 auto;
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.content {
  margin: 0 auto;
  color: white;
  text-align: center;

  .title {
    font-family: Poppins-bold, sans-serif;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  .action button {
    font-family: Poppins-medium, sans-serif;
    text-transform: uppercase;
    background-color: white!important;
    color: black!important;
  }
}

.image-left, .image-right {
  position: absolute;
}

.image-right {
  right: 0;
  bottom: 3rem;
  opacity: .75;
}

.image-left {
  left: 20px;
  bottom: 2rem;
  opacity: 0.7;
}

// desktop
@media screen and (min-device-width: 1025px) {
  .banner-container {
    max-width: 1440px;
  }

  .content {
    width: 50%;
  }

  .title {
    font-size: 3.3rem;
  }
}

// tablet
@media screen and (max-device-width: 1024px) {
  .banner-container {
    max-width: 70%;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 2rem;
  }
}

// mobile
@media screen and (max-device-width: 560px) {
  .banner-container {
    max-width: 90%;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }
}
