:host {
  display: block;

  .mat-dialog-content {
    max-height: unset;

    .autocomplete {
      font-size: 90%;
      height: 2.5rem;

      .symbol {
        display: inline-block;
        min-width: 4rem;
      }
    }

    .mat-select {
      &.no-arrow {
        ::ng-deep {
          .mat-select-arrow {
            opacity: 0;
          }
        }
      }
    }

    .mat-datepicker-input {
      &.mat-input-element:disabled {
        color: var(--dark-primary-text);
      }
    }
  }
}

:host-context(.is-dark-theme) {
  .mat-dialog-content {
    .mat-datepicker-input {
      &.mat-input-element:disabled {
        color: var(--light-primary-text);
      }
    }
  }
}

.close-btn {
  background-image: url('../../../../assets/close.png');
  background-size: cover;
  height: 20px;
  width: 20px;
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  cursor: pointer;
}

.choose-plaid-pop
{
  padding: 5px;
}

.choose-plaid-title
{
  text-align: center !important;
}

.choose-plaid-content
{
  text-align: left !important;
  font-size: 15px;
}

.grid-container-element { 
  display: grid; 
  grid-template-columns: 1fr 6fr; 
  grid-gap: 20px;  
  width: 100%; 
} 
.grid-child-element { 
  margin-top: 10px;
  text-align: left; 
}
.choose-plaid-content-security{
  max-width: 51%;
  text-align: justify;
  font-size: 16px;
}

