#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}

.close-btn {
  background-image: url('../../../../../assets/close.png');
  background-size: cover;
  height: 20px;
  width: 20px;
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  cursor: pointer;
}
